.container{
  height: 100vh;
  width: 100%;
  background: #c9c6c6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.head-text{
  position: absolute;
  top: 30%;
}

.left{
  animation: slideLeft 2s ease;
}

.right{
  animation: slideRight 2s ease;
}
.heading-landing{
  font-size: 5rem;
}

@keyframes slideLeft{
  0%{
    transform: translateX(-100%);
  }
}
@keyframes slideRight{
  0%{
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 768px) {
  .heading{
    font-size: 65px;
  }
}