.skills{
  padding: 10px;
  border: 2px solid blueviolet;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon{
  margin: 10px;
  font-size: 2rem;
}

.icon:nth-child(1){
  color: orangered;
}
.icon:nth-child(2){
  color: blue;
}
.icon:nth-child(3){
  color: purple;
}
.icon:nth-child(4){
  color: rgb(235, 235, 54);
}
.icon:nth-child(5){
  color: green;
}
.icon:nth-child(6){
  color: black;
}
.icon:nth-child(7){
  color: rgb(48, 48, 238);
}
.icon:nth-child(8){
  color: blue;
  animation: rotate infinite 20s linear;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}